
.find-title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 800;
}

.outer-content{
    display : flex;
    justify-content : center;
}

.inner-content{
    width : 640px;
    height : 840px;
    display : flex;
    justify-content : center;
}

.find-nav{
    padding-top : 80px;
    text-align: center;
    font-size: 18px;
}

.find-nav button{
    width : 270px;
    height : 50px;
    background-color: white;
    font-size: 18px;
    border: white;
}

#findId{
    border-bottom: 3px solid #333333;
    color:#333333;
}

#findPwd{
    border-bottom: 3px solid #E6E6E6;
    color:gray;
}

.form-inp, .form-inp-find{
    padding-top : 30px;
    width: 540px;
}

#usr_nm, #phn, #rsvNo, #rsvName, #rsvPhone, #checkNum{
    width: 500px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 0px 20px;
    min-height: 50px;
    margin-bottom: 10px;
}

#findIdBtn, #findPwdBtn{
    width: 540px;
    height : 50px;
    margin: 50px 0px;
    background-color: #333333;
    color: white;
}

.phn{
    width: 542px;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.phn input{
    width: 140px;
    line-height: 30px;
    min-height: 50px;
    margin-right:10px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding : 0px 20px;
}