
.login-title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 800;
}

.outer-content{
    display : flex;
    justify-content : center;
}

.inner-content{
    width : 640px;
    height : 840px;
    display : flex;
    justify-content : center;
}

.login-nav{
    padding-top : 80px;
    text-align: center;
    font-size: 18px;
}

.login-nav button{
    width : 270px;
    height : 50px;
    background-color: white;
    font-size: 18px;
    border: white;
}

#usrBt{
    border-bottom: 3px solid #333333;
    color:#333333;
}

#nonUsrBt{
    border-bottom: 3px solid #E6E6E6;
    color:gray;
}

.form-inp, .form-inp-nonUsr{
    padding-top : 30px;
    width: 540px;
}

#id, #pwd, #rsvt_no, #rsvt_nm, .rsvt_phn{
    width: 500px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 0px 20px;
    min-height: 50px;
    margin-bottom: 10px;
}

#loginBtn, #rsvBtn{
    width: 540px;
    height : 50px;
    margin: 50px 0px;
    background-color: #333333;
    color: white;
}

.panel-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.remember{
    display:flex;
    align-items: center;
}

#idChk{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.phn{
    width: 542px;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.phn input{
    width: 140px;
    line-height: 30px;
    min-height: 50px;
    margin-right:10px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding : 0px 20px;
}

#guestLoginForm{
    display: flex;
    flex-direction: column;
    align-items: center
}

.snsIcon{
    height: 100px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.msg{
    color: crimson;
    font-size: 12px;
    margin-bottom: 5px;
}

#releaseRstBtn, #closeReleaseModal{
    width: 150px;
    height : 40px;
    background-color: #333333;
    color: white;
}