.select {
    padding: 15px 10px;
}

.select input[type=radio]{
    display: none;
}

.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 90px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
}

.select input[type=radio]+label{
    background-color: #fff;
    color: #333;
}

.select input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}

.input-field{
    width: 500px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 0px 20px;
    min-height: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.input-field[readonly]{
    background-color:darkgray;
}

#man, #woman{
    width: 265px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.login-title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 800;
}

#goback, #submit{
    width: 120px;
    height: 30px;
    margin: 20px 7px;
    background-color: #333333;
    color: white;
}

.input-id p, .input-pwd p{
    font-size: 12px;
}

.input-basic{
    margin-bottom : 20px;
}

#mail-Check-Btn {
    all: unset;
    background: #1c1c1c;
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 12px;
}

.span-prf-image{
    display: flex;
    flex-direction: column;
}

hr{
    background-color: #cccccc;
    width: 400px;
    margin-top: 15px;
}

#openPwCheck{
    all: unset;
    background: #1c1c1c;
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 300px;
    height: 35px;
    font-size: 12px;
    position: relative;
    left: 50px;
    top: 30px;
}

.pwd-check-input{
    width: 200px;
    font-size: 15px;
    line-height: 30px;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 0px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#delBtn{
    width: 100px;
    height : 35px;
    background-color: #333333;
    color: white;
    margin-top: 10px;
}