.mypage-content{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.mypage-main-content{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

#user-name{
    font-size: xx-large;
    color: crimson
}

.mypage-sub-content{
    display: flex;
    flex-direction: column;
}

.reserv-header{
    margin: 20px 0px;
}


.box {
    width: 480px;
    height: 330px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
    transition: all 0.5s;
    transition-delay: 0.3s;
}

.box:hover {
    width: 500px;
    height: 350px;
}

