.login-title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 80px;
    font-size: 30px;
    font-weight: 800;
}

.form-user-selectjoin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-selectjoin-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 640px;
    height: 750px;
}

h3{
    font-size: 23px;
    line-height: 1.39;
    font-weight: 700;
    letter-spacing: -1.15px;
}

.form-selectjoin-general{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
}

.form-selectjoin-sns{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;

}

#toJoin, #openAuthModalBtn{
    width: 540px;
    height : 50px;
    margin: 50px 0px;
    background-color: #333333;
    color: white;
}

#openAuthModalBtn{
    width: 540px;
    height : 50px;
    margin: 50px 0px;
    background-color: #333333;
    color: white;
}

.snsIcon{
    height: 100px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-check-input{
    width: 200px;
    font-size: 15px;
    line-height: 30px;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 0px 20px;
    margin-top: 30px;
}