

h1{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrap .content{
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
}
.wrap .content .nav{
    width: 200px;
    height: 800px;
}

.wrap .content .nav .menu{
    width: 170px;
    height: 700px;
    margin: 0 auto;
    position: relative;
}

.wrap .content .nav .menu ul{
    padding-top: 20px;
}

.wrap .content .nav .menu ul .prd_tlt{
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.wrap .content .nav .menu ul .menu_list{
    font-size: 15px;
    padding-top: 10px;
}

.wrap .content .board{
    width: 900px;
    height: 800px;
    position: absolute;
    top : 90px;
    left: 245px;
}

.wrap .content .board .prd_price_input_form{
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: 600px;
}


.wrap .content .board .input_prd{
    width: 300px;
    height: 30px;
    border-radius: 8px;
    padding-left: 10px;
    margin-bottom: 20px;
}


.wrap .content .board .button_click{
    all: unset;
    width: 315px;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 20px;
    background: #1c1c1c;
    color: #fff;
    text-align: center;
    cursor: pointer;

}



