

.wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap .content{
    width: 1550px;
    height: 90%;
    margin : 0 auto;
}

.wrap .content .tlt > h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 80px;
}

.wrap .content .tlt > p{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    color: rgba(0, 0, 0, .5);
}

.wrap .content > h1{
    text-align: center;
    margin-top: 20px;
    color : #000;
    font-weight: 300;
}

.wrap .content > h2{
    font-size: 12px;
    font-weight: bold;
    margin-top: 40px;
    position: relative;
    right: 50px;
}

.wrap .content .product__list{
    display: inline-block;
    margin-top: 20px;
    width: 330px;
    height: 450px;
    border-radius: 8px;
    margin-left: 27px;
    margin-bottom: 20px;
    border : 1px solid #cccccc;
}

.wrap .content .product__list img{
    border-radius: 8px 8px 0 0;
}

.wrap .content .product__list .text{
    width: 300px;
    height: 150px;
    background : white;
    margin: 10px auto 0;
}

.wrap .content .product__list .text > p:first-child{
    padding-top: 30px;
}

.wrap .content .product__list .text > p:nth-child(2){
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.wrap .content .product__list .text > strong{
    font-weight: bold;
    font-size: 30px;
}

.no-list{
    text-align: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-list-info{
    padding: 20px;
    color: #333333;
    font-weight: bold;
}

#delete_all{
    all: unset;
    border: 1px solid #cccccc;
    background-color: white;
    color: #1c1c1c;
    text-align: center;
    cursor: pointer;
    width: 110px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    right: 20px;
}

h2{
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    position: relative;
    left: 40px;
    top: 10px;

}

.image-box{
    position: relative;
    height: 280px;
    width: 330px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    background-size: 100% 100%;
}