.product-list__header {
    margin: 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
}

.product-list__content {
    margin-bottom: 100px;
}

.content--wrap {
    margin-bottom: 30px;
    box-sizing: border-box;
}

.content--list__wrap {
    width: 80%;
    margin: 0 auto;
}

.content--list {
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
}

.content--filter {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.content--filter a {
    margin-right: 15px;
    color: rgba(0, 0, 0, .5);
    font-size: 17px;
    font-weight: 600;
}

.content--filter a:focus {
    color: black;
}

.content--filter a:not(:first-child)::before {
    content: '|';
    margin-right: 15px;
    color: rgba(0, 0, 0, .2);
    font-size: 17px;
}

.content--list {
    display: flex;
}

.content--list_img {
    position: relative;
    width: 300px;
    height: fit-content;
}

.content--list_img img {
    width: 100%;
    height: auto;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    background-size: cover;
    background-position: center;
}

.content--list_img i {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    color: red;
    font-size: 30px;
}

.content--list_info {
    width: 80%;
    float: right;
    padding: 60px;
}

.info-tit {
    width: 70%;
    float: left;
    display: flex;
    flex-direction: column;
}

.info-price {
    width: 30%;
    float: right;
    display: flex;
    flex-direction: column;
}

.item-tit {
    font-size: 25px;
    line-height: 26px;
    color: #1c1c1c;
    letter-spacing: -0.72px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.item-desc {
    font-size: 17px;
    line-height: 20px;
    color: #999;
    letter-spacing: -0.42px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 10px;
}

.item-period {
    margin-top: 15px;
}

.item-strdate {
    margin-top: 10px;
    margin-bottom: 15px;
}

.item-period span:nth-child(2),
.item-strdate span:nth-child(2) {
    margin: 0 5px;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    width: 60px;
}

.item-arl {
    margin-right: 20px;
    margin-top: 10px;
}

.item-dstn_cd,
.item-prd_str_prc{
    display: flex;
    justify-content: flex-end;
}

.item-prd_str_prc {
    font-size: 40px;
    font-weight: 800;
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
}

.item-dstn_cd,
.item-prd_str_prc span:last-child{
    font-size: 20px;
    font-weight: 700;
}

.item-detailBtn__wrap {
    display: flex;
    justify-content: flex-end;
}

.item-detailBtn {
    all: unset;
    background: #1c1c1c;
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 210px;
    height: 50px;
    font-size: 16px;
    margin-top: 40px;
}

.item-detailBtn i {
    margin-left: 5px;
}

.item-detailBtn em:last-child {
    display: none;
}

.item-detailBtn__wrap button em + em {
    display: none;
}

.item-detailBtn__wrap button.active em {
    display: none;
}

.item-detailBtn__wrap button.active em + em {
    display: block;
}

.content--detail-items {
    display: none;
    background: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.active {
    display: block;
}

.detail-item__list {
    border: solid 1px #ccc;
    border-radius: 10px;
    background: #fff;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.detail-item__list--info {
    display: flex;
    flex-direction: column;
}

.list__prd_nm {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 25px;
}

.detail-item__list--info div {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 25px;
}

.detail-item__list--info div i {
    margin-right: 7px;
}

.list__dpr_date {
    margin-right: 7px;
}

.list__fin_date {
    margin-left: 7px;
}

.detail-item__list--price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.detail-item__list--price span {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.detail-item__list--price span span {
    font-size: 17px;
}

.detail-item__list--price button {
    all: unset;
    background: #1c1c1c;
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 180px;
    height: 55px;
    font-size: 16px;
}