@import "/resources/css/common/reset.css";

h1{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrap .content{
    width: 1200px;
    height: 1400px;
    margin: 0 auto;
}
.wrap .content .nav{
    width: 200px;
    height: 800px;
}

.wrap .content .nav .menu{
    width: 170px;
    height: 700px;
    margin: 0 auto;
    position: relative;
}

.wrap .content .nav .menu ul{
    padding-top: 20px;
}

.wrap .content .nav .menu ul .prd_tlt{
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.wrap .content .nav .menu ul .menu_list{
    font-size: 15px;
    padding-top: 10px;
}

.wrap .content .board{
    width: 900px;
    height: 1100px;
    position: absolute;
    top : 90px;
    left: 245px;
    margin-top: 70px;
}

.wrap .content .board #submit_btn{
    all: unset;
    width: 315px;
    height: 40px;
    border-radius: 8px;
    background: #1c1c1c;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.wrap .content .board .board_content{
    margin: 20px auto 0px;
    width: 900px;
    height: 50px;
    border: 1px solid black;
}

.wrap .content .board .board_title{
    margin: 20px auto 0px;
    width: 900px;
    height: 20px;
    border: 1px solid black;

}

.wrap .content .board .board_title span:nth-child(2){
    margin-left: 30px;
}

.wrap .content .board .board_title span:nth-child(3){
    margin-left: 230px;
}

.wrap .content .board .board_title span:nth-child(4){
    margin-left: 240px;
}

.wrap .content .board .board_title span:nth-child(5){
    margin-left: 100px;
}

.wrap .content .board .board_content .board_content_detail{
    padding-top: 20px;
}

.wrap .content .board .board_content .board_content_detail span:nth-child(2){
    margin-left: 30px;
}

.wrap .content .board .board_content .board_content_detail span:nth-child(3){
    margin-left: 30px;
}

.wrap .content .board .board_content .board_content_detail span:nth-child(4){
    margin-left: 50px;
}

.wrap .content .board .board_content .board_content_detail span:nth-child(5){
    margin-left: 70px;
}

.wrap .content .board .board_content .board_content_detail div:nth-child(1){
    display: inline-block;
    text-align: center;
    width: 55px;
}

.wrap .content .board .board_content .board_content_detail div:nth-child(2){
    display: inline-block;
    text-align: center;
    width: 60px;
    margin-left: 30px;
}

.wrap .content .board .board_content .board_content_detail div:nth-child(3){
    display: inline-block;
    text-align: center;
    width: 440px;
    margin-left: 30px;
}

.wrap .content .board .board_content .board_content_detail div:nth-child(4){
    display: inline-block;
    text-align: center;
    width: 80px;
    margin-left: 40px;
}

.wrap .content .board .board_content .board_content_detail div:nth-child(5){
    display: inline-block;
    text-align: center;
    width: 86px;
    margin-left: 62px;
}

.wrap .content .search_option_form{
    width: 500px;
    height: 50px;
    margin : 30px auto 0px;
}

.wrap .content .search_option_form #search_option{
    margin-left: 20px;
    margin-top: 10px;
}

.wrap .content .search_option_form #search_keyword{
    width: 330px;
    padding-left: 10px;
    position: relative;
}

.wrap .content .search_option_form #search_btn{

}

.wrap .content .paging_list{
    width: 300px;
    height: 30px;
    font-size: 25px;
    margin : 30px auto 0px;
    text-align: center;
}

.wrap .content .paging_list span{
    margin-left: 15px;
}






