<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UserDto" type="com.devcamp.eztour.domain.user.UserDto"/>
        <typeAlias alias="RvwDto" type="com.devcamp.eztour.domain.rvw.RvwDto"/>
        <typeAlias alias="Trv_sch_dto" type="com.devcamp.eztour.domain.product.Trv_sch_dto"/>
        <typeAlias alias="Prd_img_dto" type="com.devcamp.eztour.domain.product.Prd_img_dto"/>
        <typeAlias alias="Prd_pcr_dto" type="com.devcamp.eztour.domain.product.Prd_pcr_dto"/>
        <typeAlias alias="Trv_prd_dtl_dto" type="com.devcamp.eztour.domain.product.Trv_prd_dtl_dto"/>
        <typeAlias alias="Trv_prd_dto" type="com.devcamp.eztour.domain.product.Trv_prd_dto"/>
        <typeAlias alias="Trv_prd_prc_dto" type="com.devcamp.eztour.domain.product.Trv_prd_prc_dto"/>
    </typeAliases>
</configuration>
