.dv_header{
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 25px 0;
}
.dv_dtl_box{

}
.dv_dtl_box h2,
.dv_trvlr_box{

}
.dv_dtl_subbox{

}
.dv_trvlr_subbox{

}
.dv_dtl_title{

}
.dv_arl_box{

}
.dv_arl_code{

}
.dv_detail_box{

}
.dv_low{

}
.dv_col1{

}
.dv_col1 dt{

}
.dv_col1 dd{

}
.dv_col2{

}
.dv_col2 dt{

}
.dv_col2 dd{

}
