.rc_big_box{
    display: block;
    padding: 70px 0 0 10px;
}

.rc_middle_box{
    text-align: center;
    margin: 32px 0 30px 0;
}


.rc_reserv_dtl_box{
    display: flex;
    max-width: 100%;
    padding: 50px 70px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 50px;
}

.rc_main_header{
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 25px 0;
}

.rc_header{
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 25px 0;
    width: 220px;
}

.rc_middle_box div {
    text-align: center;
    margin: 32px 0 30px 0;
}

.rc_middle_box div p{
    margin: 0 0 7px 0;
}
.rc_content_box{
    width: 100%;
    padding: 0 0 0 70px;
}
.rc_content_box_header{
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px 0;
}
.rc_dtl_content_box{
    display: block;
    padding: 10px 0 0 0;
}
.arp_code{

}
.rc_low{
    margin: 14px 0 0 0;
}
.rc_col1{
    display: inline-block;
    width: 50%;
}
.rc_col2 {
    display: inline-block;
}
.rc_col1 dt,
.rc_col1 dd,
.rc_col2 dt,
.rc_col2 dd {
    display: inline-block;
}
.rc_col1 dt,
.rc_col2 dt{
    width: 70px;
}

.rc_reserv_dtl_subbox{
    margin: 0 0 25px 0;
}
.rc_trvlr_nm{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.rc_trvlr_info_box{

}
.rc_trvlr_en_nm{
    margin-bottom: 10px;
}
.rc_trvlr_sub_box{

}
.rc_trvlr_prc_title{

}
.rc_trvlr_prc{

}

.rc_btn_box{
    text-align: center;
    margin: 0 0 90px 0;
}

.rc_btn{
    width: 150px;
    height: 44px;
}

<!-- 상품 상세페이지 -->

.dv_main_header{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 64px 0;
}
.dv_header{
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 25px 0;
}
.dv_dtl_box{
    max-width: 100%;
    padding: 50px 70px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 50px;
}
.dv_dtl_box h2,
.dv_trvlr_box{

}
.dv_dtl_subbox{

}
.dv_trvlr_subbox{

}
.dv_dtl_title{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 20px 0px;
}
.dv_arl_box{
    margin: 0 0 14px 0;
}
.dv_arl_code{

}
.dv_detail_box{

}
.dv_low{
    height: 31px;
}
.dv_col1{
    display: inline-block;
    width: 50%;
    line-height: 31px;
}
.dv_col1 dt,
.dv_col1 dd{
    display: inline-block;
}

.dv_col2{
    display: inline-block;
    line-height: 31px;
}
.dv_col2 dt,
.dv_col2 dd{
    display: inline-block;
}
 /*결제 페이지*/
.pv_big_box{
    display: block;
}
.pv_header{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 64px 0;
}
.pv_mth_box{
    text-align: center;
    margin-bottom: 60px;
}
.pay_mth_credit{
    margin: 10px 0;
}
.pv_dtl_box{
    width: 60%;
    margin: auto;
}
.pv_low{
    margin: 0 0 40px 0;
}
.pv_label{
    font-size: 20px;
    margin-right: 20px;
}
.pv_no_border{
    border: 1px;
    font-size: 20px;
}
.padding_btm{
    padding: 0 0 33px 0;
}