/*예약페이지*/
.ri_biggest_box {
    padding: 65px 0 0 0;
    display: grid;
}

.ri_header_box {
    display: block;
    text-align: center;
}

.ri_header{
    font-size: 25px;
    font-weight: bolder;
    margin: 0px 0 10px 0;
}

.ri_header_sub {
    margin: 30px 0 30px 0;
    font-size: 13px;
}

.ri_rsvt_info_box {
    border: 1px solid #cccccc;
    border-radius: 7px;
    display: flex;
    margin: 0 0 90px 0;
}

.ri_rsvt_info_img {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.ri_rsvt_info_subbox {
    display: inline-block;
    margin: 20px 36px;
}

.ri_rsvt_info_subbox dl {
    margin: 31px 0;
}

.ri_rsvt_info_subbox dl dt {
    font-size: 13px;
    margin: 0 0 7px 0;
}

.ri_rsvt_info_subbox dl dd {
    font-size: 22px;
    font-weight: 700;
}

.ri_rsvt_info_subbox div {
    font-size: 21px;
    font-weight: 500;
}

.ri_agree_box {
    margin: 0 0 90px 0;
}

.ri_sub_header {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 25px 0;
}

.ri_agree_checkbox span {
    font-size: 20px;
    font-weight: 500;
}

.ri_agree_check{

}

.ri_agree_info {
    font-size: 16px;
    font-weight: 500;
}

.ri_agree_checklist_box{

}

.ri_reserv_info_box {
    /*border-top: 1.5px solid black;*/

}

.ri_reserv_info_header {

}

.ri_reserv_info_body{
    border-top: 1.5px solid #666;
    margin: 0 0 90px 0;
}

.ri_reserv_info_table{
    display: block;
}

.ri_reserv_info_table tbody {
    display: block;
}


.ri_table_row {
    height: 62px;
    display: block;
    border-bottom: 1px solid #dcdcdc;
}

.ri_table_row th{
    width: 150px;
    text-align: start;
    line-height: 65px;
    padding: 0 0 0 20px;
    font-size: 15px;
    font-weight: 600;
    border-right: 1px solid gainsboro;
}
.ri_table_row td {
    width: 80%;
    padding: 0 0 0 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.ri_arl_line{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -0.42px;
    box-sizing: border-box;
}
.ri_arl_line dt{
    display: inline-block;
}
.ri_arl_line dd{
    display: inline-block;
}
.ri_trvlr_box{
    margin: 0 0 90px 0;
}
.ri_trvlr_table{
    display: block;
}
.ri_trvlr_table tbody{
    display: block;
}
.ri_trvlr_box div{
    border-top: 1.5px solid black;
}

.ri_trvlr_row {
    display: block;
    height: 85px;
    line-height: 85px;
    border-bottom: 1px solid #d4d4d4;
}
.ri_trvlr_col1 {
    width: 150px;
    padding: 0 0 0 20px;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
}
.ri_trvlr_col2{

}
.ri_trvlr_inputbox{
    height: 33px;
    border: 1px solid #c2c0c0;
    width: 155px;
    padding: 7px;
    font-size: 16px;
}
.ri_trvlrinfo_subbox{
    border-top: 1.5px solid black;
    display: flex;
    justify-content: space-between;
}

.ri_at {
    margin: 0 10px;
    font-size: 20px;
}
.ri_trvlr_inputbox span{

}
.ri_trvlrinfo_box{
    margin: 0 0 90px 0;
}
.ri_trvlrinfo_row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 37px 37px;
}
.ri_trvlrinfo_col1{
    margin: 0px 0 12px 0;
    font-size: 20px;
    font-weight: 700;
}
.ri_trvlrinfo_col2{
    display: flex;
    flex-direction: column;
}
.ri_trvlrinfo_col2 span{
    margin: 0 0 10px 0;
    font-size: 13px;
}
.ri_trvlrinfo_col2 div{
    position: relative;
    display: flex;
    align-items: center;
}
.ri_trvlrinfo_col2 button {
    width: 35px;
    height: 35px;
}
.ri_trvlrinfo_col2 div input{
    height: 30px;
    width: 41px;
}
.ri_trvlrinfo-totalbox{

}
.ri_trvlrinto_total{
    width: 92px;
    border: 1px;
    text-align: center;
    margin: 10px 0;
}
.ri_etc{
    margin: 0 0 70px 0;
}
.ri_etc div{
    display: block;
}
.ri_etc div textarea{
    width: 100%;
    height: 140px;
    /* padding: 16px 19px; */
    font-size: 16px;
}
.req_cont{

}
.ri_btn_box{
    text-align: center;
    margin: 0 0 90px 0;
}

.ri_btn_box input {
    width: 150px;
    height: 44px;
}

/*예약확인페이지*/
.rc_big_box{
    display: block;
    padding: 70px 0 0 10px;
}

.rc_middle_box{
    text-align: center;
    margin: 32px 0 30px 0;
}


.rc_reserv_dtl_box{
    display: flex;
    max-width: 100%;
    padding: 50px 70px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 70%;
    margin: 50px auto;
}

.rc_main_header{
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 25px 0;
}

.reserv_main_header {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 84px 0;
    text-align: center;
}

.rc_header{
    font-size: 22px;
    font-weight: 600;
    width: 220px;
    margin-bottom: 16px;
}

.rc_middle_box div {
    text-align: center;
    margin: 32px 0 30px 0;
}

.rc_middle_box div p{
    margin: 0 0 7px 0;
}
.rc_content_box{
    width: 100%;
    padding: 0 0 0 70px;
}
.rc_content_box_header{
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px 0;
}
.rc_dtl_content_box{
    display: block;
    padding: 10px 0 0 0;
}
.arp_code{

}
.rc_low{
    margin: 14px 0 0 0;
}
.rc_col1{
    display: inline-block;
    width: 50%;
}
.rc_col2 {
    display: inline-block;
}
.rc_col1 dt,
.rc_col1 dd,
.rc_col2 dt,
.rc_col2 dd {
    display: inline-block;
}
.rc_col1 dt,
.rc_col2 dt{
    width: 70px;
}

.rc_reserv_dtl_subbox{
    margin: 0 0 25px 0;
    width: 100%;
}
.rc_trvlr_box {
    margin: 0 0 29px 0;
}
.rc_trvlr_nm{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.rc_trvlr_info_box{

}
.rc_trvlr_en_nm{
    margin-bottom: 10px;
    width: 50%;
    display: inline-block;
    color: #a8a8a8;
    font-weight: 600;
}
.rc_trvlr_sub_box{
    display: inline-block;
}
.rc_trvlr_prc_title{
    color: #a8a8a8;
    font-weight: 600;
    margin-right: 54px;
}
.rc_trvlr_prc{
    font-size: 19px;
}

.rc_btn_box{
    text-align: center;
    margin: 0 0 90px 0;
}

.rc_btn{
    width: 150px;
    height: 44px;
}

.rc_btn_margine{
    margin: 0 10px 0 0;
}

<!-- 예약내역 상세페이지 -->
<!-- 지우지 마세요 -->

.dv_big_box{
    padding: 80px 0;
}
.dv_big_box{
    padding: 104px 0;
    width: 60%;
    margin: auto;
}

<!-- 지우지 마세요-->
.dv_main_header{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 64px 0;
}
.dv_header{
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 25px 0;
}
.dv_dtl_box{
    max-width: 100%;
    padding: 38px 46px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 50px;
}
.dv_dtl_box h2,
.dv_trvlr_box{

}
.dv_dtl_subbox{

}
.dv_trvlr_subbox{

}
.dv_dtl_title{
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 15px 0px;
}
.dv_arl_box{
    margin: 0 0 10px 0;
}
.dv_arl_code{
    border: 1px solid #006f80;
    border-radius: 4px;
    color: #006f80;
    display: inline-block;
    height: 21px;
    line-height: 21px;
}
.dv_detail_box{

}
.dv_low{
    height: 31px;
}
.dv_col1{
    display: inline-block;
    width: 50%;
    line-height: 31px;
}
.dv_col1 dt,
.dv_col1 dd,
.dv_col2 dt,
.dv_col2 dd{
    display: inline-block;
}

.dv_col2{
    display: inline-block;
    line-height: 31px;
}

.dv_col1 dt,
.dv_col2 dt{
    width: 117px;
    color: #acabab;
    font-size: 15px;
    font-weight: 600;
}
.dv_col1 dd,
.dv_col2 dd{
    font-size: 18px;
    font-weight: 400;
}
 /*결제 페이지*/
.pv_big_box{
    display: block;
}
.pv_header{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 64px 0;
}
.pv_mth_box{
    text-align: center;
    margin-bottom: 60px;
}
.pay_mth_credit{
    margin: 10px 0;
}
.pv_dtl_box{
    width: 60%;
    margin: auto;
}
.pv_low{
    margin: 0 0 40px 0;
}
.pv_label{
    font-size: 20px;
    margin-right: 20px;
}
.pv_no_border{
    border: 1px;
    font-size: 20px;
}
.padding_btm{
    padding: 0 0 33px 0;
}

/*예약리스트*/
.rl_list_box{
    width: 1000px;
    margin: auto;
    padding: 80px 0;
}
.rl_total_cnt{
    margin: 10px 0px 12px 0px;
    font-size: 14px;
    font-weight: 600;
    color: #979595;
}
.rl_list{
    border: 1px solid #c7c7c7;
    border-radius: 8px;
    display: flex;
    position: relative;
    width: 100%;
    height: 275px;
    margin: 0 0 33px 0;
}
.rsvt_img_box{
    width: 221px;
    height: 100%;
    display: inline-block;
}

/*예약목록페이지*/
.rl_content_box{
    display: inline-block;
    position: absolute;
    padding: 33px 62px 27px 35px;
}
.rl_info_box{
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    margin: 0 0 31px 0;
}
.rl_stt_box{
    margin: 0 0 16px 0;
    font-size: 11px;
}
.rl_rsvt_stt{
    border: 1px solid #D61C4E;
    border-radius: 3px;
    display: inline-block;
    width: 59px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    color: #D61C4E;
}
.rl_pay_stt{
    border: 1px solid #F77E21;
    border-radius: 3px;
    display: inline-block;
    width: 59px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    color: #F77E21;
}
.rl_title_box{
    margin: 0px 0 32px 0;
}
.rl_title_box h3{
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}
.rl_title_box span{
    font-size: 15px;
    color: #918e8e;
    font-weight: 500;
}
.rl_prc{
    font-size: 25px;
    font-weight: 700;
    text-align: end;
}

.rl_paging_box{
    margin: 55px 0 80px 0;
    text-align: center;
    font-size: 22px;
    color: gray;
    font-weight: 700;
    letter-spacing: 6px;
}
