.footer-warp{
    width: 100%;
}

.footer{
    position: relative;
    margin: 0 auto;
    border-top: 1px solid black;
}

.foot {
    padding: 90px 0;
    font-size: 50px;
}

.aside {
    box-sizing: border-box;
    position: fixed;
    top: 100px;
    right: -110px;
    padding: 15px;
    background-color: #1c1c1c;
    width: 110px;
    z-index: 99;
    transition: all .25s ease-in-out;
    color: #cccccc;
}

.aside__menu--list,
.aside__menu--list li,
.aside__menu--list li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    color: #cccccc;
}

.aside__menu--list li:not(:last-child) {
    margin-bottom: 30px;
}

.aside__menu--list li a span:first-child {
    font-size: 35px;
}

.aside__menu--list li a span:last-child {
    font-size: 13px;
    margin-top: 15px;
}

.aside__btn {
    display: block;
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -32.5px;
    font-size: 15px;
    color: #cccccc;
    width: 30px;
    height: 65px;
    background: #1c1c1c;
    border-radius: 4px 0 0 4px;
    transition: all .25s ease-in-out;
}

.open {
    right: 0px;
}

.foot-cont{
    width: 200px;
    height: 20px;
    font-family:'NotoSansCJKkr',Helvetica,sans-serif;
    color: #1c1c1c;
    font-size: 14px;
}

.foot-menu{
    font-family:'NotoSansCJKkr',Helvetica,sans-serif;
    color: #1c1c1c;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    bottom: 150px;

}
.foot-Address{
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50px;
    bottom: 20px;
    font-size: 15px;
}

.foot-Information{
    width: 250px;
    height: 100px;
    position: absolute;
    left: 400px;
    bottom: 20px;
}

.foot-FollowUs{
    width: 250px;
    height: 100px;
    position: absolute;
    left: 800px;
    bottom: 20px;
}
.foot-title{
    font-family: 'TourEasyT',sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
    white-space: nowrap;
}

.foot-desc{
    font-size: 12px;
    line-height: 20px;
    font-family: 'TourEasyT',sans-serif;
    color: #666;
}

.foot-menu-dtl{
    text-decoration: none;
    margin-left: 30px;
}

.modal_main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;

}

.modal_main .modal_wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal_wrap .modal_recently{
    background-color: #fff;
    width: 70%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    position: relative;
}

.modal_recently .modal_tlt{
    width: 90%;
    height: 13%;
    margin: 0 auto;
}

.modal_recently .modal_tlt > strong{
    padding-top : 30px;
    color : black;
    font-weight: bold;
    font-size: 23px;
    display: inline-block;
}

.modal_recently .modal_tlt > hr{
    margin-top : 23px;
}

.modal_recently >i{
    color: black;
    float : right;
    width: 70px;
    font-size: 25px;
    margin-top: 20px;
}

.modal_recently .modal_recently_content{
    background-color: yellow;
    width: 95%;
    height: 80%;
    margin: 0 auto;
    overflow: scroll;
}