@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

body {
    font-family: 'Gothic A1', sans-serif;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

.header-wrap{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.header{
    position: relative;
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
    outline: none
}

a:hover, a:active {
    text-decoration: none;
    color:black;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 5px 50px;
}

.main-title {
    font-size: 50px;
}

.main-title h1 img {
    height: 70px;
    width: 70px;
}

.nav__list,
.aside__list{
    display: flex;
}

.nav__dropdown {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
}

.nav__list--dropdown-menu a {
    padding-bottom: 30px;
}

.nav__list--dropdown-content {
    margin-top: 31px;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    display: none;
    z-index: 240;
    background-color: white;
}

.nav__list--dropdown-content a {
    padding: 12px 16px;
    display: block;
    z-index: 240;
}

.nav__dropdown:hover .nav__list--dropdown-content {
    z-index: 240;
    display: block;
}

.aside__list li a {
    margin-right: 15px;
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    font-weight: 700;
}

.nav__list li:last-child::before {
    content: '|';
    margin-right: 15px;
    color: rgba(0, 0, 0, .5);
}

.prd-search {
    all:unset;
    cursor: pointer;
}

.modal__cancel {
    position: relative;
    width: 100%;
    padding: 69px 0 0 0;
    /*display: flex;*/
    /*justify-content: flex-end;*/
}

.modal__cancel button {
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 30px;
    font-weight: 800;
}

.modal__cancel button i {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal__content {
    background-color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    border-radius: 10px;
    width: 600px;
    height: 270px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}
.modal__content h1 {
    margin: 0 0 60px 0;
    font-size: 33px;
    font-weight: 700;
    color: black;
}
.modal_sub_box{

}
.hidden {
    display: none;
}

.form-search {
    display: flex;
    flex: 1 1 auto;
    padding: 0 12px;
    justify-content: center;
    box-sizing: border-box;
}

.form-search > div {
    display: flex;
    border-bottom: 2px black solid;
    padding: 5px 0;
    box-sizing: border-box;
    width: 401px;
}

.form-search .search-input {
    background-color: transparent;
    border: none;
    font-size: 20px;
    width: 90%;
}

.form-search .search-input:focus {
    outline: none;
}

.form-search .search-btn {
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 10%;
}