@import "../common/reset.css";

/* header */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

a {
    color: black;
    text-decoration: none;
    outline: none
}

a:hover, a:active {
    text-decoration: none;
    color:black;
}

header{
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    color: white;
    border-bottom: 1px solid #e5e5e5;
}

.header-inner {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 50px 15px 50px;
}

.main-title {
    font-size: 50px;
}

.main-title h1 {
    color: white;
}

.nav__list,
.aside__list{
    display: flex;
}

.nav__dropdown {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
}

.nav__list--dropdown-menu a {
    padding-bottom: 30px;
    color: white;
}

.nav__list--dropdown-content {
    margin-top: 31px;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    display: none;
    background-color: rgba(0, 0, 0, .5);
}

.nav__list--dropdown-content a {
    padding: 12px 16px;
    display: block;
    color: white;
}

.nav__dropdown:hover .nav__list--dropdown-content {
    display: block;
}

.nav__dropdown a {
    color: white;
}

.aside__list li a {
    margin-right: 15px;
    font-size: 14px;
    color: white;
    font-weight: 700;
}

.nav__list li:last-child::before {
    content: '|';
    margin-right: 15px;
    color: white;
}

.prd-search {
    all:unset;
    cursor: pointer;
}

.modal__cancel {
    position: relative;
    width: 100%;
    /*display: flex;*/
    /*justify-content: flex-end;*/
}

.modal__cancel button {
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 30px;
    font-weight: 800;
}

.modal__cancel button i {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal__content {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    position: relative;
    border-radius: 10px;
    width: 40%;
    height: 30%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.modal__content h1 {
    margin: 50px auto;
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.hidden {
    display: none;
}

.form-search {
    display: flex;
    flex: 1 1 auto;
    padding: 0 12px;
    justify-content: center;
    box-sizing: border-box;
}

.form-search > div {
    display: flex;
    border-bottom: 2px black solid;
    padding: 5px 0;
    box-sizing: border-box;
}

.form-search .search-input {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.form-search .search-input:focus {
    outline: none;
}

.form-search .search-btn {
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* body */

/*full screen slider start*/

.main__full-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #2c3e50; /* darckblue */
}
.myslide {
    height: 100vh;
    display: none;
    overflow: hidden;
}

.prevBtn,
.nextBtn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
}
.prevBtn:hover,
.nextBtn:hover {
    color: #00a7ff; /* blue */
}
.nextBtn {
    right: 0;
}
.dotsbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}
.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.active,
.dot:hover {
    border-color: #00a7ff; /* blue */
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

.txt {
    position: absolute;
    color: #fff;
    letter-spacing: 2px;
    bottom: 10%;
    left: 10%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: .7s;
    animation-name: posi;
    animation-duration: .7s;
    z-index: 1;
}

@-webkit-keyframes posi {
    from {
        left: 25%;
    }
    to {
        left: 10%;
    }
}

@keyframes posi {
    from {
        left: 25%;
    }
    to {
        left: 10%;
    }
}

.txt p {
    font-weight: bold;
    font-size: 50px;
}

img.fullImg {
    transform: scale(1.5, 1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 40s;
}
@-webkit-keyframes zoomin {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.5, 1.5);
    }
}

@keyframes zoomin {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.5, 1.5);
    }
}

@media screen and (max-width: 800px) {
    .myslide {
        height: 500px;
    }
    .txt {
        letter-spacing: 2px;
        line-height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
    }

    @-webkit-keyframes posi2 {
        from {
            top: 35%;
        }
        to {
            top: 50%;
        }
    }

    @keyframes posi2 {
        from {
            top: 35%;
        }
        to {
            top: 50%;
        }
    }

    .txt h1 {
        font-size: 40px;
    }
    .txt p {
        font-size: 13px;
    }
}

@media screen and (max-width: 520px) {
    .txt h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .sign {
        margin-right: 20px;
    }
    .sign a {
        font-size: 12px;
    }
}


/*full screen slider end*/


.home__gallery {

    --n: 1;     /* number of rows*/
    --m: 5;     /* number of columns */
    --g: 0px;   /* control the gap */
    --f: .8;    /* control the scale factor */

    display: grid;
    gap: var(--g);
    width: 100%;
    height: 70vh;
    grid-template-columns: repeat(var(--m),auto);
    margin-top: 100px;
}

.home__gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
}

.home__gallery img:hover{
    filter: grayscale(0);
    width:  calc(100vh*var(--f)/var(--n));
    height: calc(100vw*var(--f)/var(--m));
}

/* PRODUCTS */
.product {
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 300px;
    height: 450px;
    margin-right: 40px;
    border-radius: 10px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item__tit {
    position: absolute;
    background: transparent;
    color: white;
    font-size: 20px;
    left: 15px;
    top: 30px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #00a7ff;
    color: #fff;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    text-transform: uppercase;
}

.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection {
    position: relative;
}

.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
}



/* footer */

.footer-warp{
    width: 100%;
}

.aside {
    box-sizing: border-box;
    position: fixed;
    top: 100px;
    right: -110px;
    padding: 15px;
    background-color: #1c1c1c;
    width: 110px;
    z-index: 99;
    transition: all .25s ease-in-out;
    color: #cccccc;
}

.aside__menu--list,
.aside__menu--list li,
.aside__menu--list li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    color: #cccccc;
}

.aside__menu--list li:not(:last-child) {
    margin-bottom: 30px;
}

.aside__menu--list li a span:first-child {
    font-size: 35px;
}

.aside__menu--list li a span:last-child {
    font-size: 13px;
    margin-top: 15px;
}

.aside__btn {
    display: block;
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -32.5px;
    font-size: 15px;
    color: #cccccc;
    width: 30px;
    height: 65px;
    background: #1c1c1c;
    border-radius: 4px 0 0 4px;
    transition: all .25s ease-in-out;
}

.open {
    right: 0px;
}

.footer{
    position: relative;
    margin: 0 auto;
    border-top: 1px solid black;
}

.foot {
    padding: 50px 0;
    font-size: 50px;
}

.modal_recently{
    background-color: #fff;
    width: 70%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.modal_recently .modal_tlt{
    width: 90%;
    height: 13%;
    margin: 0 auto;
}

.modal_recently .modal_tlt > strong{
    padding-top : 30px;
    color : black;
    font-weight: bold;
    font-size: 23px;
    display: inline-block;
}

.modal_recently .modal_tlt > hr{
    margin-top : 23px;
}

.modal_recently >i{
    color: black;
    float : right;
    width: 70px;
    font-size: 25px;
    margin-top: 20px;
}

.modal_recently .modal_recently_content{
    background-color: yellow;
    width: 95%;
    height: 80%;
    margin: 0 auto;
}