@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	font-family: 'Noto Sans KR', sans-serif;
}

.wrap{
	width : 100%;
	height: 100%;
}

.wrap .content{
	width: 1200px;
	height: 2400px;
	margin: 0 auto;
	position: relative;
}

.wrap .content .writeBtn{
	width: 100px;
	height: 50px;
	background: #1c1c1c;
	color: #fff;
	position: relative;
	left: 1000px;
	top: 320px;
}

.wrap .content .navi{
	width: 700px;
	height: 120px;
	margin: 30px auto 0;
}

.wrap .content .tit{
	width: 200px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	font-size: 30px;
	font-weight: bold;
	font-family: 'NotoSansCJKkr',Helvetica,sans-serif;
	color: #1c1c1c;
}

.wrap .content .searchArea{
	width: 700px;
	height: 100px;
	margin: 30px auto 0;
	position: relative;
}


.wrap .content .highArea{
	width: 1000px;
	height: 70px;
	margin: 30px auto 0;
	position: relative;
}

.wrap .content .highArea .totalCnt{
	display: block;
	width: 200px;
	height: 70px;
	font-size: 15px;
	padding-left: 40px;
	padding-top: 40px;
	font-family: 'NotoSansCJKkr',Helvetica,sans-serif;
	text-decoration: none;
	text-align: left;
	line-height: 70px;
}

.wrap .content .highArea .sort{
	/*color: #1c1c1c;*/
	/*font-size: 20px;*/
	position: absolute;
	right: 75px;
	bottom: 26px;
	top: 70px;
	/*font-family: 'NotoSansCJKkr',Helvetica,sans-serif;*/
	/*cursor: pointer;*/
}

.sort_name{
	color: #1c1c1c;
	font-size: 20px;
	font-family: 'NotoSansCJKkr',Helvetica,sans-serif;
	cursor: pointer;
}



.wrap .content .reviewArea{
	width: 1000px;
	height: 2000px;
	margin: 0px auto 0;
	padding: 10px 20px;
	position: relative;
	box-sizing: border-box;
}

.wrap .content .reviewArea .pagingContainer{
	width: 900px;
	height: 90px;
	position: absolute;
	margin-top: 100px;
	/*top: 2900px;*/
	/*left: 50px;*/
}

.wrap .content .reviewArea .pagingContainer .paging {
	color: black;
	width: 100%;
	text-align: center;
	font-size: 20px;
	padding-top: 30px;
}

.wrap .content .reviewArea .pagingContainer .paging .page {
	color: black;
	width: 100%;
	font-size: 20px;
	text-decoration: none;
	padding: 6px;
	margin-right: 10px;
}

.wrap .content .reviewArea .reviewDetail{
	width: 900px;
	height: 300px;
	margin: 30px;
	box-sizing: border-box;
	position: relative;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
}

.wrap .content .reviewArea .reviewDetail .reviewImg{
	width: 290px;
	height: 290px;
	position: absolute;
	overflow:hidden;
	left : 3px;
	top : 3px;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
}

.wrap .content .reviewArea .reviewDetail .reviewImg-thumbnail {
}

.wrap .content .reviewArea .reviewDetail .reviewInfo{
	width: 590px;
	height: 290px;
	position: absolute;
	right : 3px;
	top : 3px;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
}

.wrap .content .reviewArea .reviewDetail .reviewInfo .reviewTitle{
	width: 350px;
	height: 70px;
	position: absolute;
	left : 10px;
	top : 10px;
	color: #1c1c1c;
	font-size: 20px;
	font-weight: 600;
	border-radius: 10px;
	border-width: 1px;
	border-style: hidden;
	display:block;
}

.wrap .content .reviewArea .reviewDetail .reviewInfo .reviewContent{
	width: 550px;
	height: 140px;
	position: absolute;
	left : 10px;
	top : 90px;
	color:#999;
	font-size: 15px;
	border-radius: 10px;
	border-width: 1px;
	border-style: hidden;
}

.reviewContent-rvw_cont{
	margin-top: 0;
	width: 540px;
	height: 120px;
	overflow: hidden;
	display:-webkit-box; /* 속성은 블록을 수직, 수평으로 배치하거나 역순으로 배열하거나 임의로 배치 순서를 바꿀 수 있는 속성 */
	-webkit-line-clamp: 8; /* 텍스를 자를 때 원하는 단위 ex) 8줄 */
	-webkit-box-orient: vertical; /* 콘텐츠를 가로 또는 세로로 배치할지 여부를 결정하는 속성 */
	word-break: break-word; /* 개행없는 글이 영역을 벗어 날 때 줄 바꿈 */
}

.reviewTitle-rvw_ttl {
	width: 350px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.wrap .content .reviewArea .reviewDetail .reviewInfo .reviewWriter{
	width: 200px;
	height: 40px;
	position: absolute;
	left : 10px;
	bottom: 10px;
	font-size: 15px;
	color:#999;
	border-radius: 10px;
	border-width: 1px;
	border-style: hidden;
}

.wrap .content .reviewArea .reviewDetail .reviewInfo .reviewRegisterDate{
	width: 300px;
	height: 40px;
	position: absolute;
	right : 27px;
	bottom: 10px;
	font-size: 15px;
	color:#999;
	border-radius: 10px;
	border-width: 1px;
	border-style: hidden;
}

.wrap .content .reviewArea .reviewDetail .reviewInfo .reviewLikeViewCnt{
	width: 200px;
	height: 70px;
	position: absolute;
	font-size: 15px;
	right : 27px;
	top : 10px;
	border-radius: 10px;
	border-width: 1px;
	border-style: hidden;
}


.wrap .content .searchArea .searchBox{
	width: 600px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	font-family: 'NotoSansCJKkr',Helvetica,sans-serif;
	color: #1c1c1c;
	position: relative;
}

.wrap .content .searchArea .searchBox .searchButton{
	width: 90px;
	height: 50px;
	position: absolute;
	right: 10px;
	top: 15px;
	font-weight: bold;
}

.wrap .content .searchArea .searchBox .searchOption{
	width: 130px;
	height: 50px;
	position: absolute;
	left: 10px;
	top: 15px;
}

.wrap .content .searchArea .searchBox .searchInput{
	width: 350px;
	height: 45px;
	position: absolute;
	right: 100px;
	top: 15px;
}



.wrap .content .navi .menu{
	width: 400px;
	height: 120px;
	margin-left: 120px;
	margin-right: 180px;
}

.wrap .content .navi .menu .menu_name{
	font-size: 20px;
	margin-right: 20px;
}

.wrap .content .navi .menu span:nth-child(1){
	margin-left: 10px;
}

.wrap .content .navi .menu span:nth-child(6){
	margin-right: 0px;
}

.wrap .content .navi .menu .nation_1{
	width: 500px;
	height: 30px;
	padding-top: 10px;
	margin-bottom: 15px;
	font-family: 'NotoSansCJKkr',Helvetica,sans-serif;
	font-size: 15px;
	color: #1c1c1c;
	cursor: pointer;
}

.wrap .content .navi .menu .nation_2{
	width: 500px;
	height: 30px;
	padding-top: 10px;
	font-family: 'NotoSansCJKkr',Helvetica,sans-serif;
	font-size: 15px;
	color: #1c1c1c;
}





