<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.devcamp.eztour.dao.eventMapper">


    <select id="eventlist" resultType="eventDto">
        SELECT evnt_no,evnt_ttl,evnt_cont,reg_date,mdf_date,fin_date
        FROM evnt
        ORDER BY evnt_no DESC
    </select>
<!-- 위에 매퍼는 이벤트리스트 매퍼 -->
    <select id="count" resultType="int">
        SELECT count(*) FROM evnt
    </select>


    <select id="selectEventPage" parameterType="map" resultType="eventDto">
        SELECT evnt_no,evnt_ttl,evnt_cont,reg_date,mdf_date,fin_date
        FROM evnt
        ORDER BY reg_date DESC, evnt_no DESC
        LIMIT #{offset}, #{eventPageSize}
    </select>
<!-- 이벤트 이미지 매퍼-->


    <select id="selectEventImageCnt" resultType="eventDto">
        SELECT COUNT(*)
        FROM evnt
    </select>



    <select id="searchSelectEventImage"  resultType="eventDto">
        SELECT evnt_no,prd_cd,evnt_ttl,evnt_cont,evnt_img_pth
        FROM evnt
        WHERE TRUE

        ORDER BY reg_date DESC
        LIMIT #{pageSize} OFFSET #{startList};
    </select>
    <select id="searchSelectEventImageCnt"  resultType="eventDto">
        SELECT COUNT(*)
        FROM evnt
        WHERE TRUE

    </select>







    <insert id="insertEventImage" parameterType="eventDto">
        INSERT INTO evnt(evnt_img_pth)
        VALUES (#{evnt_img_pth});
    </insert>

    <update id="updateImage" parameterType="eventDto">
          UPDATE evnt SET evnt_img_pth=#{evnt_img_pth} WHERE  prd_cd=#{prd_cd}
    </update>
    <delete id="deleteImage" parameterType="int">
        DELETE FROM evnt WHERE evnt_img_pth=#{evnt_img_pth}
    </delete>

</mapper>