<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devcamp.eztour.payMapper">
    <select id="selectPay" parameterType="String" resultType="com.devcamp.eztour.domain.reserv.PayDto">
        SELECT * FROM pay WHERE rsvt_no = #{rsvt_no} ORDER BY pay_date DESC Limit 1;
    </select>

    <select id="selectPayById" parameterType="Map" resultType="com.devcamp.eztour.domain.reserv.PayDto">
        SELECT * FROM pay WHERE rsvt_no = #{rsvt_no} and usr_id = #{usr_id} ORDER BY pay_date DESC Limit 1;
    </select>

    <select id="selectPayStatus" parameterType="Map" resultType="String">
        SELECT cmn_cd_pay_stt FROM pay WHERE rsvt_no = #{rsvt_no} AND usr_id = #{usr_id} ORDER BY pay_date DESC LIMIT 1;
    </select>

    <insert id="insertPay" parameterType="com.devcamp.eztour.domain.reserv.PayDto">
        INSERT INTO pay(pay_no, rsvt_no, prd_dtl_cd, usr_id, imp_uid, pay_prc, pay_date, cmn_cd_pay_appr, cmn_cd_pay_stt, pay_mthd, used_mlg)
        VALUES (#{pay_no}, #{rsvt_no}, #{prd_dtl_cd}, #{usr_id}, #{imp_uid}, #{pay_prc},#{pay_date}, #{cmn_cd_pay_appr}, #{cmn_cd_pay_stt}, #{pay_mthd}, #{used_mlg})
    </insert>

    <delete id="deletePayAdmin">
        DELETE FROM pay
    </delete>

    <select id="selectCancelInfo" parameterType="String" resultType="com.devcamp.eztour.domain.reserv.CancelViewDto">
        SELECT r.rsvt_date, r.rsvt_no, r.prd_dtl_cd,
               r.cmn_cd_pay_stt, r.sum_prc, tp.prd_nm, tp.prd_dtl_desc, p.pay_no, p.pay_prc, p.used_mlg, pi.img_pth
        FROM rsvt r
                 JOIN trv_prd tp
                            ON r.prd_cd = tp.prd_cd
                 JOIN pay p
                            ON r.rsvt_no = p.rsvt_no
                 JOIN prd_img pi
                            ON r.prd_cd = pi.prd_cd
        WHERE r.rsvt_no = #{rsvt_no}
    </select>

</mapper>