<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devcamp.eztour.dao.productDetailMapper">

    <select id="selectAllProduct" resultType="TrvPrdDtlReadDto">
            SELECT A.prd_cd, A.dstn_cd, A.cmn_cd_thm, A.prd_nm, A.prd_dtl_desc, A.trv_per, A.prd_str_prc, A.dpr_str_date, A.dpr_fin_date,
            A.evnt_yn, A.fin_yn, A.act_yn, A.dc_yn, A.pc_prc, A.vcnt, A.lk_yn, B.img_pth, B.mn_img_yn
            FROM trv_prd A
            JOIN prd_img B ON A.prd_cd = B.prd_cd
            WHERE act_yn=1
    </select>

    <select id="selectAllDetailProduct" parameterType="String" resultType="TrvPrdDtlDto">
        SELECT prd_cd, prd_dtl_cd, prd_nm, DATE_FORMAT(dom_dpr_date,'%Y-%m-%d') AS dom_dpr_date,
               DATE_FORMAT(dom_fin_date,'%Y-%m-%d') AS dom_fin_date, arl_nm, rsvt_yn, FORMAT(prd_str_prc,0) AS prd_str_prc
        FROM trv_prd_dtl
        WHERE prd_cd = #{prd_cd}
    </select>

    <select id="selectAllProductCategory" resultType="TrvPrdDtlReadDto" parameterType="map">
        SELECT DISTINCT A.prd_cd, A.dstn_cd, A.cmn_cd_thm, A.prd_nm, A.prd_dtl_desc, A.trv_per, A.prd_str_prc, A.dpr_str_date, A.dpr_fin_date,
               A.evnt_yn, A.fin_yn, A.act_yn, A.dc_yn, A.pc_prc, A.vcnt, D.lk_yn, B.img_pth, B.mn_img_yn,D.usr_id,A.dpr_day
        FROM trv_prd A LEFT OUTER JOIN att_prd D ON A.prd_cd = D.prd_cd
                       JOIN prd_img B ON A.prd_cd = B.prd_cd
                 JOIN dstn_ctg F ON A.cntn_cd = F.cntn_cd
        WHERE act_yn=1 and A.cntn_cd = #{cntn_cd} and A.nt_cd = #{nt_cd} and F.nt_cd_nm = #{nt_cd_nm} and ((D.usr_id = #{usr_id} or D.usr_id IS NULL)
           OR D.usr_id <![CDATA[<>]]> #{usr_id})
    </select>

    <select id="selectAllProductOrder" resultType="TrvPrdDtlReadDto" parameterType="map">
        SELECT DISTINCT A.prd_cd, A.dstn_cd, A.cmn_cd_thm, A.prd_nm, A.prd_dtl_desc, A.trv_per, A.prd_str_prc, A.dpr_str_date, A.dpr_fin_date,
               A.evnt_yn, A.fin_yn, A.act_yn, A.dc_yn, A.pc_prc, A.vcnt, D.lk_yn, B.img_pth, B.mn_img_yn,D.usr_id,A.dpr_day
        FROM trv_prd A LEFT OUTER JOIN att_prd D ON A.prd_cd = D.prd_cd
                       JOIN prd_img B ON A.prd_cd = B.prd_cd
                       JOIN dstn_ctg F ON A.cntn_cd = F.cntn_cd
                    WHERE act_yn=1 and A.cntn_cd = #{cntn_cd} and A.nt_cd = #{nt_cd} and F.nt_cd_nm = #{nt_cd_nm}
                      and ((D.usr_id = #{usr_id} or D.usr_id IS NULL)
            OR D.usr_id <![CDATA[<>]]> #{usr_id})
        ORDER BY ${keyword} ${standard}
    </select>

    <select id="selectUserLike" resultType="TrvPrdDtlReadDto">
        SELECT A.prd_cd, A.dstn_cd, A.cmn_cd_thm, A.prd_nm, A.prd_dtl_desc, A.trv_per, A.prd_str_prc, A.dpr_str_date, A.dpr_fin_date,
               A.evnt_yn, A.fin_yn, A.act_yn, A.dc_yn, A.pc_prc, A.vcnt, D.lk_yn, B.img_pth, B.mn_img_yn,D.usr_id,A.dpr_day
        FROM trv_prd A LEFT OUTER JOIN att_prd D ON A.prd_cd = D.prd_cd
                       JOIN prd_img B ON A.prd_cd = B.prd_cd
        WHERE act_yn=1
    </select>

    <select id="selectProductDetailPage" parameterType="String" resultType="PrdDtlPageDto">
        SELECT A.prd_cd,A.dstn_cd,A.prd_nm,A.trv_per,A.dpr_str_date,A.dpr_fin_date,B.arl_nm,B.pr_rsvt_cnt,
               B.min_stt_cnt,B.max_stt_cnt,B.loc_dpr_date,B.loc_fin_date,B.dom_dpr_date,B.dom_fin_date
                ,B.prd_dtl_cd,C.adt_prc,C.chd_prc,C.bb_prc,D.img_pth,D.mn_img_yn
        FROM trv_prd A
                 JOIN trv_prd_dtl B ON A.prd_cd = B.prd_cd
                 JOIN prd_prc C ON B.prd_dtl_cd = C.prd_dtl_cd
                 JOIN prd_img D ON A.prd_cd = D.prd_cd
        WHERE B.prd_dtl_cd = #{prd_dtl_cd}
    </select>

    <select id="selectOneRecentProduct" resultType="TrvPrdDtlReadDto" parameterType="String">
        SELECT A.prd_cd, A.dstn_cd, A.cmn_cd_thm, A.prd_nm, A.prd_dtl_desc, A.trv_per, FORMAT(A.prd_str_prc,0) AS prd_str_prc, A.dpr_str_date, A.dpr_fin_date,
               A.evnt_yn, A.fin_yn, A.act_yn, A.dc_yn, A.pc_prc, A.vcnt, D.lk_yn, B.img_pth, B.mn_img_yn,D.usr_id,A.dpr_day
        FROM trv_prd A LEFT OUTER JOIN att_prd D ON A.prd_cd = D.prd_cd
                       JOIN prd_img B ON A.prd_cd = B.prd_cd
        WHERE act_yn=1 AND  A.prd_cd = #{prd_cd}
    </select>

    <select id="selectProductAttractive" parameterType="String" resultType="TrvPrdDtlReadDto">
        SELECT A.prd_cd,A.prd_nm,A.prd_str_prc,B.img_pth
        FROM trv_prd A
                 JOIN prd_img B ON A.prd_cd = B.prd_cd
                 JOIN att_prd C ON A.prd_cd = C.prd_cd
        WHERE C.usr_id = #{usr_id}
    </select>

    <select id="selectProductAttractiveCnt" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM att_prd
        WHERE usr_id = #{usr_id}
    </select>

    <delete id="deleteAllProductAttractive" parameterType="String">
        DELETE FROM att_prd WHERE usr_id = #{usr_id}
    </delete>

    <delete id="deleteProductAttractive" parameterType="map">
        DELETE FROM att_prd WHERE usr_id = #{usr_id} AND prd_cd = #{prd_cd}
    </delete>

</mapper>