<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devcamp.eztour.dao.productMapper">

    <insert id="insertProduct" parameterType="Trv_prd_dto">
        INSERT INTO trv_prd(prd_cd,dstn_cd,cmn_cd_thm,prd_nm,prd_dtl_desc,
                        trv_per,prd_str_prc,mn_img,dpr_str_date,dpr_fin_date)
        VALUES(#{prd_cd},#{dstn_cd},#{cmn_cd_thm},#{prd_nm},#{prd_dtl_desc},
                #{trv_per},#{prd_str_prc},#{mn_img},#{dpr_str_date},#{dpr_fin_date});
    </insert>


</mapper>