<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devcamp.eztour.rsvtMapper">
    <insert id="insertReserv" parameterType="ReservDto">
        insert into rsvt
        values (#{rsvt_no}, #{prd_dtl_cd}, #{usr_id},#{prd_cd}, #{mn_rsvt_nm}, #{phn}, #{email}, #{sum_prc}, #{pay_ftr_prc},
                #{req_cont}, #{cmn_cd_rsvt_stt},#{cmn_cd_pay_stt}, now(), #{cnc_pay_no}, #{adt_cnt}, #{chd_cnt},
                #{bb_cnt}, now(), #{usr_id}, now(), #{usr_id})
    </insert>

    <select id="selectReserv" parameterType="String" resultType="ReservDto">
        select * from rsvt where rsvt_no = #{rsvt_no}
    </select>

    <select id="selectReservList" parameterType="String" resultType="ReservDto">
        SELECT * FROM rsvt WHERE usr_id = #{usr_id}
    </select>

    <select id="countReserv" parameterType="String" resultType="int">
        SELECT count(*) FROM rsvt WHERE usr_id = #{usr_id}
    </select>

    <select id="selectReservListPage" parameterType="Map" resultType="ReservDto">
        SELECT r.rsvt_no, r.rsvt_date, r.cmn_cd_rsvt_stt, r.pay_ftr_prc, r.prd_dtl_cd,
               r.cmn_cd_pay_stt, r.sum_prc, tp.prd_nm, tp.prd_dtl_desc, pi.img_pth
        FROM rsvt r
            JOIN trv_prd tp
                ON r.prd_cd = tp.prd_cd
            JOIN prd_img pi
                 ON r.prd_cd = pi.prd_cd
        WHERE r.usr_id = #{usr_id} LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectReservByrsvtNo" parameterType="String" resultType="ReservDto">
        SELECT r.rsvt_no, r.rsvt_date, r.cmn_cd_rsvt_stt, r.pay_ftr_prc, r.prd_dtl_cd,
               r.cmn_cd_pay_stt, r.sum_prc, tp.prd_nm, tp.prd_dtl_desc
        FROM rsvt r
                 INNER JOIN trv_prd tp
                            ON r.prd_cd = tp.prd_cd
        WHERE r.rsvt_no = #{rsvt_no}
    </select>

    <select id="selectAllReserv" resultType="ReservDto">
        select * from rsvt
    </select>

    <update id="updateReservStatus" parameterType="String">
        update rsvt set cmn_cd_rsvt_stt = #{cmn_cd_rsvt_stt} where rsvt_no = #{rsvt_no}
    </update>

    <delete id="deleteAllReserv">
        delete from rsvt
    </delete>

    <select id="selectPrdInfo" parameterType="String" resultType="ReservInfoDto">
        SELECT d.prd_dtl_cd, d.arl_nm, t.dstn_cd, t.prd_nm, t.trv_per, p.prd_cd,p.adt_prc, p.chd_prc, p.bb_prc, pi.img_pth
        FROM trv_prd_dtl d JOIN trv_prd t
                                ON d.prd_cd = t.prd_cd
                           JOIN prd_prc p
                                ON d.prd_cd = p.prd_cd
                           JOIN prd_img pi
                                ON d.prd_cd = pi.prd_cd
        WHERE d.prd_dtl_cd = #{prd_dtl_cd} and p.prd_dtl_cd = #{prd_dtl_cd};
    </select>

    <select id="selectAirInfo" parameterType="java.util.List" resultType="com.devcamp.eztour.domain.reserv.AirlineReqDto">
        SELECT * FROM arl_req WHERE prd_dtl_cd = #{prd_dtl_cd}
    </select>

    <select id="selectReservConfInfo" parameterType="String" resultType="com.devcamp.eztour.domain.reserv.ReservConfInfoDto">
        select r.rsvt_date, r.rsvt_no, r.prd_dtl_cd, r.adt_cnt, r.chd_cnt, r.bb_cnt, r.sum_prc, r.cmn_cd_rsvt_stt,
               r.pay_ftr_prc, tp.prd_nm, tp.prd_cd, tp.trv_per
        from rsvt r INNER JOIN trv_prd tp on r.prd_cd = tp.prd_cd
        where r.rsvt_no = #{rsvt_no};
    </select>

    <select id="selectUserMlg" parameterType="String" resultType="int">
        select mlg from usr where usr_id = #{usr_id};
    </select>

    <select id="selectTheUnAppredListPage" parameterType="Map" resultType="ReservDto">
        select r.rsvt_no, r.usr_id, r.mn_rsvt_nm, r.email, r.rsvt_date, r.phn, r.prd_dtl_cd, tpd.prd_nm
        FROM rsvt r INNER JOIN trv_prd_dtl tpd
                               ON r.prd_cd = tpd.prd_cd
        WHERE cmn_cd_rsvt_stt = '6A'
        ORDER BY r.rsvt_date ASC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectTheUnAppredListCnt" resultType="int">
        select count(*)
        FROM rsvt r INNER JOIN trv_prd_dtl tpd
                               ON r.prd_cd = tpd.prd_cd
        WHERE cmn_cd_rsvt_stt = '6A'
    </select>

    <update id="updateUserMlg" parameterType="Map">
        UPDATE usr
        <if test='option=="plus"'>
            SET mlg = mlg + #{mlg}
        </if>
        <if test='option=="minus"'>
            SET mlg = mlg - #{mlg}
        </if>
        WHERE usr_id = #{usr_id}
    </update>

    <update id="updateRsvtStt" parameterType="Map">
        UPDATE rsvt
        SET cmn_cd_rsvt_stt = #{cmn_cd_rsvt_stt}, cmn_cd_pay_stt = #{cmn_cd_pay_stt}
        WHERE rsvt_no = #{rsvt_no}
    </update>

    <select id="selectPayFtrPrc" parameterType="String" resultType="long">
        select pay_ftr_prc from rsvt where rsvt_no = #{rsvt_no};
    </select>

    <delete id="deleteReserv" parameterType="String">
        delete from rsvt where rsvt_no = #{rsvt_no}
    </delete>

    <select id="selectRsvtCnt" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM rsvt WHERE usr_id = #{usr_id}
    </select>

    <select id="checkReservGuest" parameterType="Map" resultType="String">
        SELECT usr_id FROM rsvt WHERE rsvt_no = #{rsvt_no} and mn_rsvt_nm = #{mn_rsvt_nm} and phn = #{phn}
    </select>
</mapper>