<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devcamp.eztour.rsvtMapper">
    <insert id="insertReserv" parameterType="ReservDto">
        insert into rsvt
        values (#{rsvtNo}, #{prdDtlCd}, #{usrId}, #{mnRsvtNm}, #{phn}, #{email}, #{sumPrc}, #{payFtrPrc},
                #{reqCont}, #{cmnCdRsvtStt}, #{rsvtDate}, #{cncPayNo}, #{adtCnt}, #{chdCnt},
                #{bbCnt}, now(), current_user, now(), current_user)
    </insert>

    <select id="selectReserv" parameterType="String" resultType="ReservDto">
        select * from rsvt where rsvt_no = #{rsvtNo}
    </select>

    <select id="selectReservList" parameterType="String" resultType="ReservDto">
        SELECT * FROM rsvt WHERE usr_id = #{usrId}
    </select>

    <select id="selectReservListPage" parameterType="Map" resultType="ReservDto">
        SELECT * FROM rsvt WHERE usr_id = #{usrId} LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectAllReserv" resultType="ReservDto">
        select * from rsvt
    </select>

    <update id="updateReservStatus" parameterType="String">
        update rsvt set cmn_cd_rsvt_stt = #{cmnCdRsvtStt} where rsvt_no = #{rsvtNo}
    </update>

    <delete id="deleteAllReserv">
        delete from rsvt
    </delete>

    <select id="selectReservPrdInfo" parameterType="String" resultType="com.devcamp.eztour.domain.reserv.ReservInfoDto">
        select d.prd_dtl_cd, d.arl_nm, t.prd_nm, t.trv_per, p.adt_prc, p.chd_prc, p.bb_prc
        from trv_prd_dtl d join trv_prd t
                                on d.prd_cd = t.prd_cd
                           join prd_prc p
                                on d.prd_cd = p.prd_cd
        where d.prd_dtl_cd = #{prdDtlCd}
    </select>

    <select id="selectAlInfo" parameterType="String" resultType="">

    </select>
</mapper>