<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devcamp.eztour.travelerInfoMapper">
    <insert id="insertTrvlrInfo" parameterType="com.devcamp.eztour.domain.reserv.TravelerInfoDto">
        insert into trvlr_inf(rsvt_no, trvlr_nm, trvlr_en_nm, cmn_cd_age,pay_ftr_prc,frs_reg_date,frs_rgs_no, fnl_mod_no)
        values
               <foreach collection="list" item="tid" separator=",">
                   (#{tid.rsvt_no},#{tid.trvlr_nm},#{tid.trvlr_en_nm},#{tid.cmn_cd_age},#{tid.pay_ftr_prc},
                    now(),current_user,current_user)
               </foreach>
    </insert>

    <select id="selectTrvlrInfoList" parameterType="String" resultType="com.devcamp.eztour.domain.reserv.TravelerInfoDto">
        select trvlr_inf_no, trvlr_nm, trvlr_en_nm, cmn_cd_age, pay_ftr_prc
        from trvlr_inf where rsvt_no = #{rsvt_no};
    </select>

    <delete id="deleteTrvlrInfoList" parameterType="String">
        DELETE FROM trvlr_inf WHERE rsvt_no = #{rsvt_no}
    </delete>
</mapper>