<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devcamp.eztour.dao.UserMapper">

    <insert id="insertUsr" parameterType="UserDto">
        INSERT INTO
            usr
        (usr_id,
         pwd,
         usr_nm,
         brth,
         gndr,
         email,
         phn,
         naver_id,
         kakao_id)
        VALUES
            (#{usr_id},
             #{pwd},
             #{usr_nm},
             #{brth},
             #{gndr},
             #{email},
             #{phn},
             <choose>
                <when test="naver_id != null and (kakao_id == null or kakao_id =='')">
                    #{naver_id},
                    null)
                </when>
                 <when test="(naver_id == null or naver_id == '') and kakao_id != null">
                     null,
                     #{kakao_id})
                 </when>
                <otherwise>
                    null,
                    null)
                </otherwise>
             </choose>
    </insert>

    <insert id="insertUsrHis" parameterType="UserDto">
        INSERT INTO
            usr_hst

            (usr_id)
        VALUES
            (#{usr_id})
    </insert>

    <select id="selectUsr" parameterType="string" resultType="UserDto">
        SELECT
            *
        FROM
            usr
        WHERE
            usr_id = #{usr_id}
    </select>

    <select id="selectUsrHst" parameterType="string" resultType="UserDto">
        SELECT
            *
        FROM
            usr_hst
        WHERE
            usr_id = #{usr_id}
    </select>

    <!-- 로그인시 이력테이블 업데이트 -->
    <update id="updateHstForLogin" parameterType="string">
        UPDATE
            usr_hst
        SET
            acc_cnt = acc_cnt + 1,
            lst_acc_date = now()
        WHERE
            usr_id = #{usr_id}
    </update>

    <update id="updateUsr" parameterType="UserDto">
        UPDATE
            usr
        SET
            email = #{email},
            phn = #{phn},
            cmn_cd_prf_img = #{cmn_cd_prf_img}
        WHERE
            usr_id = #{usr_id}
    </update>

    <update id="updateUsrHst" parameterType="UserDto">
        UPDATE
            usr_hst
        SET
            usr_mdf_date = now()
        WHERE
            usr_id = #{usr_id}
    </update>

    <update id="deleteUsr" parameterType="String">
        UPDATE
            usr
        SET
            cmn_cd_usr_stt = '2d'
        WHERE
            usr_id = #{usr_id}
    </update>

    <update id="deleteUsrHst" parameterType="map">
        UPDATE
            usr_hst
        SET
            cmn_cd_drp = #{cmn_cd_drp},
            drp_date = now()
        WHERE
            usr_id = #{usr_id}
    </update>

    <select id="selectUserEmail" parameterType="String" resultType="UserDto">
        SELECT
            usr_nm,
            email
        FROM
            usr
        WHERE
            usr_id = #{usr_id}
    </select>

    <select id="checkId" parameterType="String" resultType="int">
        SELECT
            EXISTS
               (
                SELECT
                    usr_id
                FROM
                    usr
                WHERE
                    usr_id = #{usr_id}
               )AS id_check
    </select>

    <select id="findId" parameterType="map" resultType="String">
        SELECT
            usr_id
        FROM
            usr
        WHERE
            usr_nm = #{usr_nm}
            AND
            phn = #{phn}
    </select>

    <select id="findPwd" parameterType="map" resultType="String">
        SELECT
            pwd
        FROM
            usr
        WHERE
            usr_id = #{usr_id}
          AND
            usr_nm = #{usr_nm}
          AND
            email = #{email}
    </select>

    <select id="naverConnectionCheck" parameterType="Map" resultType="Map">
        SELECT
            naver_id, usr_nm, phn
        FROM
            usr
        WHERE
            usr_nm = #{usr_nm}
            AND
            phn = #{phn}
    </select>

    <update id="setNaverConnection" parameterType="map" >
        UPDATE
            usr
        SET
            naver_id = ${naver_id}
        WHERE
            usr_nm = #{usr_nm}
          AND
            phn = #{phn}
    </update>

    <select id="userNaverLoginPro" parameterType="String" resultType="UserDto">
        SELECT
            usr_id,
            usr_nm,
            email,
            phn,
            rl
        FROM
            usr
        WHERE
            naver_id = #{naver_id}
    </select>

    <select id="kakaoConnectionCheck" parameterType="map" resultType="map">
        SELECT
            kakao_id, email
        FROM
            usr
        WHERE
            email = #{email}
    </select>

    <select id="userKakaoLoginPro" parameterType="String" resultType="UserDto">
        SELECT
            usr_id,
            usr_nm,
            email,
            phn,
            rl,
            mlg,
            cmn_cd_prf_img
        FROM
            usr
        WHERE
            kakao_id = #{kakao_id}
    </select>

    <select id="selectPaylogForMypage" parameterType="String" resultType="map">
        SELECT
            p.rsvt_no,
            p.prd_dtl_cd,
            p.pay_prc,
            p.cmn_cd_pay_stt,
            p.pay_date,
            t.prd_nm,
            p.usr_id
        FROM
            pay p, trv_prd_dtl t
        WHERE
            p.prd_dtl_cd = t.prd_dtl_cd
            AND
            p.usr_id = #{usr_id}
        ORDER BY
            p.pay_date desc
        LIMIT 4
    </select>

    <select id="checkPwdForUsrMod" parameterType="Map" resultType="boolean">
        SELECT
            EXISTS
            (
            SELECT
                usr_id
            FROM
                usr
            WHERE
                usr_id = #{usr_id}
                AND
                pwd = #{pwd}
            )AS pwd_check
    </select>

    <update id="changePwd" parameterType="Map">
        UPDATE
            usr
        SET
            pwd = #{new_pwd}
        WHERE
            usr_id = #{usr_id}
    </update>

    <update id="rstRelease" parameterType="String">
        UPDATE
            usr
        SET
            cmn_cd_usr_stt = '2A'
        WHERE
            usr_id = #{usr_id}
    </update>

    <update id="rstReleaseLog" parameterType="String">
        UPDATE
            usr_hst
        SET
            rst_chg_date = now()
        WHERE
            usr_id = #{usr_id}
    </update>

</mapper>